.header-style-container{
    .logo-container{
        padding: 25px 85px;
    }
    #progressbar {
        background-color: #eeeff5;
        div {
            background-color: #03c772;
            width: 40%;
            height: 12px;
        }
    }
}